.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border: transparent;
}

.search-container {
  display: flex;
  justify-content: center;
  background-color: none;
  align-items: center;
  padding: 20px 0 50px 0;
  /* padding: ; */
  border: none;
}

.search-input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-input:focus {
  outline: none;
}

.sort-dropdown {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.sort-dropdown:hover {
  cursor: pointer;
}

#load-more {
  display: flex;
  justify-content: center;
  background-color: rgb(57, 57, 57);
  padding: 50px 0;
}
#load-more button {
  padding: 15px;
  border-radius: 20px;
  transition: 0.2s;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 50px;
}
